node_modules/
.expo/
.expo-export-test/
dist/
web-build/
*.tsbuildinfo
*.apk
*.aab
*.ap_
*.keystore
npm-debug.log*
yarn-debug.log*
yarn-error.log*

android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/.cxx/

ios/build/
ios/Pods/

.git/
.DS_Store
